# Ignore appsettings.Development.json
CryptoAPI/CryptoAPI/appsettings.Development.json

# Ignore credentials file
azuresp.json

# Local .terraform directories
**/.terraform/*

# Specific file
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data, such as
# password, private keys, and other secrets. These should not be part of version 
# control as they are data points which are potentially sensitive and subject 
# to change depending on the environment.
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore Visual Studio temporary files, build results
.vs/
*/.vs

# User-specific files
*.suo
*.user

# Build results
[Dd]ebug/
[Rr]elease/
[Rr]eleases/
[Bb]in/
[Oo]bj/
[Ll]og/

# Files built by Visual Studio
*.obj
*.log

# Click-Once directory
publish/

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Blazor
*.assets.cache
*.GeneratedMSBuildEditorConfig.editorconfig
