<th>
    <div class="col-10 row">

            <input class="form-control" placeholder="search" @oninput="OnSearchTextChanged" />
               
    </div>    
</th>

@code {

    [Parameter]
    public EventCallback<ChangeEventArgs> OnSearchTextChanged { get; set; }

}
